body{text-align:center;background:#263238;font-family:sans-serif,yahe}
section{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%)}
section{width:600px;background-size:cover;height:auto;background:#757575;padding-bottom:20px;}
section>h3{color:red;font-size:2em;font-weight:600;transition:0.25s}
div[name=items]>a{
    display:block;
    margin: 10px auto;
    /*height: 30px;*/
    padding: 10px;
    border:0;
    text-align:center;
    border: 2px solid #673ab7;
    outline:none;
    border-radius: 20px;
    width: 35%;
    text-decoration-line:none;
    color: white;
    -webkit-transition: padding 1s;
}
div[name=items]>a:hover{
    background: #7e57c2;
    padding-left: 50%;
}
li>a{text-decoration:none}
div[name=list]>img{border-radius:50%;width:40px;cursor:pointer}