body{
    text-align: center;
}
.container{
    width: 1200px;
    background: white;
    margin: 0 auto;
}
section{
    margin: 10px auto;
    text-align: center;
}
a[data-fancybox]>img{
    margin: 10px;
}
p[name=description]{
    text-align: left;
}

.video{
    width: 800px;
}

.button{
    border: 1px solid #9C27B0;
    color: white;
    background-color: #9C27B0;
    padding: 4px 6px;
    border-radius: 5px;
}

.button:hover{
    cursor: pointer;
    padding-left: 10px;
}

.gap{
    border: 0;
    height: 10px;
}

.author{
    display: inline
}
