.editormd .CodeMirror, .editormd .CodeMirror-scroll, .editormd .editormd-preview{min-height:600px;height:100%;}
h3>input{float:right;padding:auto;margin:auto;padding-bottom:0}
from>h3{padding-bottom:0}
#md{visibility:hidden;display:none}
#html{visibility:hidden;display:none}